/*
Theme Name: BlankSlate
Theme URI: http://wordpress.org/themes/blankslate
Author: TidyThemes
Author URI: http://tidythemes.com/
Description: <strong>UPDATE</strong> - 4.0+ is here, completely overhauled, yet again. As always, <a href="http://tidythemes.com/concept/#upgrading">use caution when upgrading</a> (tidythemes.com/concept/#upgrading) and <a href="http://tidythemes.com/concept/">learn the TidyThemes concept</a> (tidythemes.com/concept). &nbsp; &rarr; <em><strong>CAUTION</strong>: If you're child theming or have clients that are child theming on top of BlankSlate (not the recommended use), please do not blindly upgrade to newer versions.</em> &nbsp; &rarr; <strong>DESCRIPTION</strong>: BlankSlate is the definitive WordPress HTML5 boilerplate starter theme. We've carefully constructed the most clean and minimalist theme available anywhere for designers/developers to use as a base/foundation to build websites for clients or to build completely custom themes from scratch to release faster. Clean, semi-minified, unformatted and valid code, SEO-friendly, no programmer comments, standardized and as white label as possible and most importantly, CSS reset for cross-browser-compatability and no intrusive visual CSS styles added whatsoever. A perfect skeleton theme that blows any others like it (the subsequent underscores.me for example) completely out of the water, as they're simply too overcomplicated for what people really want in this kind of theme. Now comes with jQuery enqueued and ready to go. &nbsp; &rarr; <strong>SUPPORT</strong>: Please use the <a href="http://tidythemes.com/forum/">official support forum</a> (tidythemes.com/forum). Comments and suggestions for improving BlankSlate, please see "<a href="http://tidythemes.com/tidythemes-sucks/">TidyThemes Sucks!</a>" (tidythemes.com/tidythemes-sucks). Just getting started? <a href="http://tidythemes.com/want-to-learn-css/">Want to learn CSS?</a> (tidythemes.com/want-to-learn-css) &nbsp; &rarr; <strong>WHAT'S NEW?</strong>: We stripped down as much custom, extraneous, superfluous junk code as we could and greatly improved the HTML5 structure. <a href="http://make.wordpress.org/themes/author/chipbennett/">Chip Bennett</a> (make.wordpress.org/themes/author/chipbennett), a highly experienced programmer and official WordPress administrator, worked closely with us to audit the theme code for quality. <a href="http://themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0">See</a> (themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0) just how much we've revamped things. Last, but not least, BlankSlate has now been <a href="https://github.com/tidythemes/blankslate">opened up on GitHub</a> (github.com/tidythemes/blankslate) if anyone would like to make suggested code additions/improvements. Thank you for using BlankSlate.
Version: 4.0.3
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: black, blue, white, light, one-column, fluid-layout, responsive-layout, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate

BlankSlate WordPress Theme © 2011-2015 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{margin:10px auto;display:block;}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}strong{font-weight: 700;}

body.admin-bar #header .paradeiser{top: 32px; }

body{
	background-color:#FFFFFF;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	color:#333;
	font-size: 14px;
	line-height: 1.42857;
}

a {
	color:#1d438e !important;
	text-decoration: underline !important;
	font-weight: 700;
}

#site-title {
	display: block;
	padding:0 15px;
}

#branding, #menu {
	float:left;
	font-family: "Lato" !important;
	font-weight: 700;
}

#menu-top-menu li {
	float:left;
}

#menu-top-menu li a {
	color:#ffffff;
	text-decoration: none;
	padding:4px 7px 7px;
}

#menu-top-menu li a:hover {
	background-color:rgba(28,67,141,0.9);;
}

#contact {
	float:right;
	padding-right:15px;
}

#contact a {
	text-decoration: none;
	color:#ffffff;
	font-size:1.125em;
	line-height:2.7em;
}

.telephone_link {
	margin-right:10px;
}

#contact a img {
	height:20px;
	width:20px;
	margin-top:-1px;
}

.hero_image.home_page{
	background-image: url("../blankslate/images/hero/main_hero.jpg");
}

.hero_image.baseball{
	background-image: url("../blankslate/images/hero/baseball_hero.jpg");
}

.hero_image.football{
	background-image: url("../blankslate/images/hero/football_hero.jpg");
}

.hero_image.hockey{
	background-image: url("../blankslate/images/hero/hockey_hero.jpg");
}

.hero_image.basketball{
	background-image: url("../blankslate/images/hero/basketball_hero.jpg");
}

.hero_image.contact{
	background-image: url("../blankslate/images/hero/contact_hero.jpg");
}

.hero_image.news{
	background-image: url("../blankslate/images/hero/news_hero.jpg");
}

.hero_image.testimonials{
	background-image: url("../blankslate/images/hero/testimonials_hero.jpg");
}

.hero_image{
	background-position: center 60px;
	background-repeat: no-repeat;
	height:460px;
	background-attachment: fixed;
}

.hero_fade {
	background-color: rgba(51,51,51,0.6);
	height:460px;
}

.hero_fade {
	font-family: 'Raleway', sans-serif;
}

.page_title {
	color:#EEEEEE;
	font-size: 3em;
	text-align: center;
	max-width: 996px;
	margin:0 auto;
	padding:110px 10px 0;
	line-height: 1.2em;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	font-weight:700;
}

.no-hero .page_title, .single .page_title {
	text-shadow: none;
	font-size:2.5em;
	color:#333333;
	padding:0 10px;
}

.no-hero .page_title {
	margin-top:75px;
}

h1.page_description {
	color:#EEEEEE;
	font-size:1.5em;
	text-align: center;
	max-width:996px;
	margin:0 auto;
	padding:40px 10px 0;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.quote_wrapper {
	max-width:996px;
	margin:10px auto 0;
	text-align: center;
}

.post_wrapper .btn.wide {
	font-size:1.5em;
	width:95%;
	max-width:400px;
}

.post_content, .posts_wrapper {
	max-width:996px;
	margin:0 auto;
	padding:15px;
}

.post_content p {
	padding:0 0 10px;
}

.single .post_wrapper {
	max-width:996px;
	margin:75px auto 0;
}

.post_body img {
	height:auto;
	max-width:100%;
	display:block;
}

.division {
	padding-bottom:10px;
	text-align:center;
}

.division_wrapper {
	margin:0 auto;
}

.team_links span {
	font-size:2em;
	text-align: center;
	font-weight:700;
}

footer {
	background-color: #FFFFFF;
	border-top: #000000 2px solid;
	margin:0;
	padding:10px 0;
}

#copyright {
	margin:0 auto;
	max-width:1200px;
	text-align: center;
}

#menu-footer-menu li {
	display:inline-block;
	padding-right:4px;
	border-right: #888 2px solid;
	line-height: 16px;
}

#menu-footer-menu li:last-child {
	border:none;
}

#menu-footer-menu a {
	color:#333 !important;
}

.social_links {
	padding:5px 0 2px;
}

.social_links li {
	display:inline-block;
}

.social_links img {
	width:35px;
	height:35px;
}

.bbb_logo {
	margin-bottom:5px;
}

.post_divider {
	margin: 10px 0;
}

.post_pages_nav {
	margin:15px auto;
	max-width: 996px;
	text-align: center;
	font-size:1.5em;
}

.post_pages_nav a, .post_pages_nav a:hover {
	color:#CCC;
	text-decoration:none !important;
}

#nav-below a, #nav-below a:hover {
	color:#CCC;
}

.post_image img {
	margin:0 auto 15px;
}

.post_date{
	text-align: center;
}

.nav-previous {
	float:left;
}

.nav-next {
	float:right;
}

.excerpt .btn {
	margin-top:10px;
	color:#333 !important;
	border:1px solid #333 !important;
}

.excerpt .btn:hover {
	color:#CCC !important;
	border:1px solid #CCC !important;
}

.post.not-found h2 {
	font-size: 2em;
	text-align: center;
}

.post.not-found .hero_image, .post.not-found .hero_fade {
	height:200px;
}