@media screen and (min-width: 180px) and (max-width: 767px){
	.hero_image {
		background-position: center 50px;
	}
	#menu-footer-menu {
		font-size:0.9em;
	}
	#menu-footer-menu li {
		line-height:0.9em;
	}
	.page_title {
		padding-top:100px;
	}
	.hero_image, .hero_fade {
		height:350px;
	}
	.post_wrapper .btn {
		width:300px;
	}
}
@media screen and (min-width: 180px) and (max-width: 480px){
	#menu-footer-menu {
		font-size:0.7em;
	}
	#menu-footer-menu li {
		line-height:1em;
	}
	.team_links .division {
		width:100%;
	}
}
@media screen and (min-width: 768px) and (max-width:991px) {
	.hero_image, .hero_fade {
		height:360px;
	}
}
@media screen and (max-width: 992px) {
	.hero_image.home_page{
		background-image: url("../../blankslate/images/hero/main_hero_mobile.jpg");
	}
	.hero_image.baseball{
		background-image: url("../../blankslate/images/hero/baseball_hero_mobile.jpg");
	}
	.hero_image.football{
		background-image: url("../../blankslate/images/hero/football_hero_mobile.jpg");
	}

	.hero_image.hockey{
		background-image: url("../../blankslate/images/hero/hockey_hero_mobile.jpg");
	}

	.hero_image.basketball{
		background-image: url("../../blankslate/images/hero/basketball_hero_mobile.jpg");
	}
}
@media screen and (min-width: 992px) {
	
}